body { 
    display: grid;
    grid-template-areas: 
      "ul ul"
      "form form";
    grid-template-rows: 20% 10%;  
    grid-template-columns: 20% 20%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
    }
ol {
    background-color: aqua;
    }
form {
    display: grid;
    grid-template-areas: 
      "input";
    grid-template-rows: 100%;  
    grid-template-columns: 100%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 10vh;
    margin: 0;
    background-color: aqua
    }
button{
    background-color: aqua;
    color: aqua;
}
#spisokst {
    grid-area: ul;
    }
#pageForm {
    grid-area: form;
    }